<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css" rel="stylesheet">

    <link rel="stylesheet" href="styles.css" />
    <title>Template Landing Pages</title>
</head>

<body>
    <header>
        <div class="header_container">
            <div class="header_brand">
                <img src="https://i.ibb.co/VDFLgWF/logo-sds.png" alt="logo" class="header_logo" />
            </div>
        </div>
    </header>
    <main>
        <section>

        </section>
    </main>
        <footer>
            <div class="footer_pages">
                <p class="footer_title">
                    <a href="https://www.google.com">Menus Rodapé</a>
                </p>
                <p class="footer_title">
                    <a href="https://www.google.com">Menus Rodapé</a>
                </p>
                <p class="footer_title">
                    <a href="https://www.google.com">Menus Rodapé</a>
                </p>
                <p class="footer_title">
                    <a href="https://www.google.com">Menus Rodapé</a>
                </p>
                <p class="footer_title">
                    <a href="https://www.google.com">Menus Rodapé</a>
                </p>
            </div>
            <div class="copyrights">
                <span class="copyrights_text">&copy; Rodapé</span>
                <span class="copyrights_text">&copy; Rodapé</span>
                <span class="copyrights_text">&copy; Rodapé</span>
            </div>
        </footer>
    </main>
    <script src="script.js"></script>
</body>

</html>