
.header_container {
    display: flex;
    align-items: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .header_brand {
    margin: auto;
    padding: 27px;
  }
  .header_logo {
    width: 126px;
    height: 78px;
  }

  footer {
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: #000000;
  
    .footer_pages {
      margin-top: 35px;
      padding-top: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      padding-right: 50px;
      padding-left: 50px;
  
      .footer_title {
        display: flex;
        padding-top: 35px;
        padding-right: 25px;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        align-items: center;
        justify-content: center;
  
        a {
          text-decoration: none;
          color: white;
          font: normal 14px "Open Sans";
        }
      }
    }
  
    .copyrights {
      display: flex;
      padding-right: 5px;
      padding-left: 5px;
      padding-top: 55px;
      padding-bottom: 20px;
      align-items: center;
      justify-content: center;
      text-align: center;
  
      .copyrights_text {
        font: normal 10px "Open Sans";
        color: #ffffff;
        padding-right: 10px;
        letter-spacing: 0.4px;
      }
    }
}